// Body
$body-bg: #f8fafc;

$a: 'Anonymous Pro', monospace;
$b: 'Bruno Ace SC', cursive;
$c: 'Goldman', cursive;

// Typography
$font-family-sans-serif: $a;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
