@import 'variables';
@import 'bootstrap/scss/bootstrap';

.cat-line {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    .cat-info {
        display: flex;
        justify-content: space-around;
        .photo {
            margin: 0 10px;
            img {
                height: 100px;
                width: auto;
            }
        }
        .cat-description {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 5px;
            margin: 5px 0 5px 20px;
            &>p{
                font-size: 10px;
                margin-top: 5px;
                align-items: center;
                justify-content: center;
            }
        }
    }
    .buttons {
        display: flex;
        justify-content: flex-end;
        gap: 10px;
    }
}
